body {
  background-color: #000;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #2E6EA6;
  margin-top: 50px;
}

h1 > span {
  color: #EE8129;
}

div.reviews {
  width: 1025px;
  margin: 0 auto;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  position: relative;
  top: 69px;
}

.block {
  margin-right: 40px;
  float: left;
}

.content {
  display: inline-block;
  max-width: 325px;
  background: white;
  position: relative;
  padding: 15px 10px 10px ;
  margin: 0 auto;
}

.content:before {
  content: "";
  width: 1px;
  border: 14px solid;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 36px;
  left: -29px;
}

p {
  color: #6397C3;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 10px;
}

.text {
  color: #A0AAB2;
  border-top: dotted #666 2px;
  font-style: normal;
  font-weight: normal;
  float: left;
  margin: 0;
  padding-top: 5px;
}

.customer {
  display: inline;
  float: right;
}

.name {
  display: inline;
}

@media (max-width: 1024px) {
  .content:before{
    display: none;
  }

  div.reviews {
    max-width: 470px;
    margin: 0 auto;
  }

  .block {
    margin-right: 0;
  }
}
