form {
  font-size: 20px;
}

label {
  margin-right: 30px;
  text-decoration: underline;
  cursor: pointer;
}

label[for="red"] {
  color: red;
}

label[for="green"] {
  color: green;
}

label[for="blue"] {
  color: blue;
}

span {
  display: inline-block;
  margin: 5px;
  border-radius: 6px;
  color: white;
  padding: 0 5px 2px;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

input[type="checkbox"] {
  display: none;
}

#red ~ .red,
#green ~ .green,
#blue ~ .blue {
  display: none;
}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue {
  display: inline-block;
}

#red:not(checked) ~ label[for="red"],
#green:not(checked) ~ label[for="green"],
#blue:not(checked) ~ label[for="blue"] {
  opacity: 1;
}

#red:checked ~ label[for="red"],
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"]{
  opacity: 0.3;
}


