body {
  margin: 40px 40px 15px;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  float: left;
  width: 40%;
  margin: -28px 25px 0 75px;
}

img {
  width: 250px;
  cursor: pointer;
  padding: 20px 100px;
}

.menu ul {
  padding: 0;
  position: relative;
  margin: 0;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  padding: 0 8px;
  line-height: 40px;
}

.menu li a {
  text-decoration: none;
  color: #8B63B0;
  text-transform: uppercase;
  display: block;
  padding: 0 5px 15px;
  font-size: 12px;
}

nav li:hover > a {
  border-bottom: 3px solid #3070A8;
}

nav li:focus > a,
nav li:active > a {
  color: #FF4949;
  font-size: 10px;
}

.text {
  background: url("title-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 550px;
  position: relative;
}

.caption {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text p {
  margin: 15px;
  text-transform: uppercase;
  font-size: 40px;
}

p > span {
  text-transform: none;
  font-size: 35px;
}

.text p:last-of-type {
  font-family: Calibri;
  font-style: italic;
  text-transform: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.text a {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 1px white;
  padding: 15px 50px;
  cursor: pointer;
  margin: 15px 10px;
}
