@float-left: left;
@background-color: #000;
@display-inline: inline;
@color-p: #6397C3;
@color-text: #A0AAB2;

.margin-center {
  margin: 0 auto;
}

body {
  background-color: @background-color;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #2E6EA6;
  margin-top: 50px;
}

h1 {
  span {
    color: #EE8129;
  }
}

div.reviews {
  width: 1025px;
  .margin-center();
}

img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  position: relative;
  top: 69px;
}

.block {
  margin-right: 40px;
  float: @float-left;
}

.content {
  display: inline-block;
  max-width: 325px;
  background: white;
  position: relative;
  padding: 15px 10px 10px ;
  .margin-center();

  &:before {
    content: "";
    width: 1px;
    border: 14px solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    top: 36px;
    left: -29px;
  }
}

p {
  color: @color-p;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 10px;
}

.text {
  color: @color-text;
  border-top: dotted #666 2px;
  font-style: normal;
  font-weight: normal;
  float: @float-left;
  margin: 0;
  padding-top: 5px;
}

.customer {
  display: @display-inline;
  float: right;
}

.name {
  display: @display-inline;
}

@media (max-width: 1024px) {
  .content:before{
    display: none;
  }

  div.reviews {
    max-width: 470px;
    .margin-center();
  }

  .block {
    margin-right: 0;
  }
}
