.layout {
  border: 4px solid #EE8129;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
  padding: 10px 14px 35px;
  margin: 10px 5px;
  width: 300px;
  box-sizing: border-box;
  background: white;
  text-align: center;
}

.heading {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #EE8129;
  color: white;
  padding: 25px;
  border-radius: 5px 5px 0 0;
  margin: -14px;
}

.name {
  text-transform: uppercase;
  font-size: 23px;
  color: #35495A;
  padding: 10px;
  font-weight: normal;
  margin-bottom: 0;
}

.price {
  display: inline-block;
  color: #35495A;
  font-weight: bold;
  font-size: 70px;
}

sup {
  position: relative;
  font-size: 20px;
  font-weight: normal;
  top: -15px;
}

sub {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  bottom: 1px;
  left: -5px;
}

ul.list {
  list-style-type: none;
  font-size: 15px;
  color: #A3A8B0;
  padding: 10px 0 4px;
}

.list li {
  margin-bottom: 1px;
  padding: 8px 35px 8px 70px;
  text-align: left;
}

ul.list li:before {
  content: url("arrow.png");
  margin-right: 5px;
  width: 14px;
  height: 16px;
  position: absolute;
  margin-left: -35px;
}

ul.list li:nth-child(odd) {
  background-color: #EDF5FD;
}

ul.list li:nth-child(even) {
  background-color: #F5F5F6;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #EE8129;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 3px #B05409;
  padding: 10px 20px;
  width: 97%;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:active {
  top: 4px;
}
