body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.pricing-blocks{
  text-transform: uppercase;
  background: white;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  cursor: default;
}

h1 {
  color: #40525D;
  font-size: 30px;
  margin: 30px auto;
}

.layout {
  border: 4px solid #EE8129;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  padding: 10px 10px 40px;
  width: 290px;
  font-weight: 400;
  margin: 50px auto;
  display: inline-block;
  position: relative;
}

h2[class|="heading"] {
  font-size: 23px;
  text-transform: uppercase;
  color: white;
  font-weight:600;
  margin: -10px;
  border-radius: 5px 5px 0 0;
}

.name {
  color: #3F4042;
  font-size: 23px;
  font-weight: 600;
  padding: 18px 0 5px;
}

.price {
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  color: #35495a;
  text-transform: none;
  width: 100%;
}

.price sup {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: -3px;
}

.price sub {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.list {
  list-style-type: none;
  color: #888c94;
  margin: 0 auto 17px;
  padding: 0;
  width: 90%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
}

.list>li {
  border-bottom: 1px solid white;
  padding: 7px 8px 8px 62px;
  text-align: left;
  background: url("arrow.png") no-repeat;
  background-position: 32px 11px;
}

.list>li:nth-child(odd) {
  background-color: #EDF5FD;
}

.list>li:nth-child(even) {
  background-color: #F5F5F6;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #EE8129;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 3px #B05409;
  padding: 10px 20px;
  width: 97%;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:active {
  top: 4px;
}

.heading-first {
  background-color: #2BC2D4;
  padding: 20px 0;
}

.heading-second {
  background-color: #EE8129;
  padding: 25px 0;
}

.heading-third {
  background-color: #00B89A;
  padding: 20px 0;
}

.left, .right {
  box-shadow: none;
  border: 1px solid #F2F3F4;
  padding-bottom: 20px;
}

.left button.button, .right button.button {
  background-color: #2F70A8;
  box-shadow: 0 3px #13426B;
}

.left {
  left: 9px;
  padding-right: 13px;
}

 .right {
   right: 9px;
   padding-left: 13px;
 }

.center {
  z-index: 1;
}